body {
    text-align: center;
    background-color: #F85E95;
}
.container {
    background-color: #ECE7E7;
    width: 754px;
    height: 1143px;
    margin: 0 auto;
    border-radius: 10px;
}
.image-slider {
    margin-top: 70px;
    display: inline-block;
    margin-bottom: 95px;
    padding: 20px;
}
.image-slider img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.header h1{
    display: flex;
    justify-content: center;
    color: #F85E95;
    font-family: 'Inter';
    font-weight: 600;
    padding: 20px;
    
}
.header {
    margin-top: 50px;
    border: solid black 1px;
}
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.who-we-are {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
.who-we-are h2:nth-of-type(1) {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 32px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    border: solid black 1px;
    padding-bottom: 20px;
}
.who-we-are p {
    text-align: start;
    font-family: 'Inter';
    margin-left: 79px;
}
.menu {
    display: flex;
    flex-direction:  column;
    width: 300px;
}
